body {
    text-align: center;
    position: relative;
    margin: 0px;
    color: #00ff5500;
    background: #03030f;
    background-image: url(img/wlp.png);
    background-size: 1000px auto;
    font-family: 'Courier New', Courier, monospace;
    
    
}

.mcred {
    text-align: center;
    margin-top: 140px;
    color: #fff;
}

.post{
  transition: transform 0.7s;
}

.post:hover{
  text-align: center;
  color: #39ff0700;
  transform: scale(1.3);
}


div {
  margin-top: 40px;
  text-align: center;
  display: inline-block;
  padding: 28px;
}


.git:hover{
color: #fffb00;

}

.id:hover{
  color: #006eff;
}

.proj:hover{
  color: #ff9100;
}

.app:hover{
  color: #3cff00;
}

.titu1 {
  box-shadow: 0 -150px 100px #3cff0023;
}
.titu2 {
  box-shadow: 0 -150px 100px #ff910025;
}
.titu3 {
  box-shadow: 0 -150px 100px #fffb0028;
}
.titu4 {
  box-shadow: 0 -150px 100px #006eff28;
}

.titu4:hover, .titu3:hover, .titu2:hover, .titu1:hover {
  box-shadow: 0 -150px 100px #006eff00;
}

a{
  color: #006eff00;
}
