body {
  color: #ffffff;
  background-color: #00317a;
  margin: 0px;
  width: 1500px;
  height: 1080px;
  overflow: hidden;
}

.prog1,.prog2,.prog3,.prog4,.prog5,.prog6 {
  overflow: hidden;
}
.bt0:hover, .bt1:hover, .bt2:hover, .bt3:hover, .bt4:hover, .bt5:hover, .bt6:hover{
  background-color: #306ac00c;
}

.bt0, .bt0:focus,.bt1, .bt1:focus, .bt2, .bt2:focus, .bt3, .bt3:focus,  .bt4, .bt4:focus,  .bt5, .bt5:focus,  .bt6, .bt6:focus {
  border-radius: 10px;
  cursor: pointer; 
  outline: none;
  margin: 0;
  border: none;
  background-color: #d4d3d300;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 0px;
}

.prog0{
  left: 0px;
  bottom: 10px;
}

.bt0, .bt0:focus {
  left: 3px;
  text-align: center;
}

.bt1, .bt1:focus,.imgpdf {
  left: 60px;
}

.bt2, .bt2:focus,.imgdoc {
  left: 110px;
}

.bt3, .bt3:focus,.imgchr {
  left: 160px;
}

.bt4, .bt4:focus,.imggit {
  left: 210px;
}

.bt5, .bt5:focus,.imggal {
  left: 260px;
}

.bt6, .bt6:focus,.imgdesl {
  left: 310px;
  text-align: center;
}



.bt1:hover {
  left: 57px;
  background-color: #00317a73;
}

.bt2:hover {
  left: 107px;
  background-color: #00317a73;
}

.bt3:hover {
  left: 157px;
  background-color: #00317a73;
}

.bt4:hover {
  left: 207px;
  background-color: #00317a73;
}

.bt5:hover {
  left: 257px;
  background-color: #00317a73;
}

.bt6:hover {
  left: 307px;
  background-color: #00317a73;
}

.list0 a {
  bottom: 0px;
  background-color: #00ffff73;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

a:hover{
  background-color: #00ffff98;
}

.list0, .fechar0{
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.list0{
  border-radius: 10px;
}

.list1, .fechar1,.list2, .fechar2,.list3, .fechar3,.list4, .fechar4,.list5, .fechar5,.list6, .fechar6 {
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
}


.apresentar0,.apresentar1,.apresentar2,.apresentar3,.apresentar4,.apresentar5,.apresentar6 {
  display: flex;
}

iframe{
  box-shadow: 0 0 60px #2929299a;
  border: #0b0b74;
  width: 640px;
  height: 480px;
  margin: 0px;
  position: fixed;
}

.frame0{
  left: 0px;
  bottom: 50px;
  position: fixed;
  align-items: center;
}

.frame1{
  left: 350px;
  top: 175px;
  position: fixed;
  align-items: center;
}

.frame2{
  left: 400px;
  top: 140px;
  position: fixed;
  align-items: center;
}

.frame3{
  left: 450px;
  top: 105px;
  position: fixed;
  align-items: center;
}

.frame4{
  left: 500px;
  top: 70px;
  position: fixed;
  align-items: center;
}

.frame5{
  left: 550px;
  top: 35px;
  position: fixed;
  align-items: center;
}

.frame6{
  left: 600px;
  top: 0px;
  position: fixed;
  align-items: center;
}

.barrinha{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0d97f33f;
}

.imginiciar{
  position: fixed;
  bottom: 0px;
  left: 3px;
}

.imgpdf,.imgdoc,.imgchr,.imggit,.imggal,.imgdesl{
  position: fixed;
  bottom: 0px;
}

.dataehora{
  color: #ffffff;
  text-align: center;
  position: fixed;
  float: right ;
  bottom: 7px;
  right: 16px;
}

.cortxt{
  color: #ffffff;
  background-color: #b30606;
}